<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人主页</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/user.css">
</head>

<body>
    <div class="container">
        <header class="infos d-flex flex-wrap justify-content-center" style="margin-top: 30px">
            <div class="input-group" style="margin: 5px;">
                <span class="input-group-text">用户名</span>
                <input type="text" class="form-control" value="{{ user.username }}" disabled>
            </div>
            <div class="input-group" style="margin: 5px;">
                <span class="input-group-text">昵称</span>
                <input type="text" class="form-control" value="{{ user.nickname }}" id="nickname">
            </div>
            <div class="input-group" style="margin: 5px;">
                <span class="input-group-text">班级</span>
                <input type="text" class="form-control" value="{{ user._class }}" id="class">
            </div>
            <div class="input-group" style="margin: 5px;">
                <span class="input-group-text">密码</span>
                <input type="password" class="form-control" value="{{ user.password }}" id="password">
            </div>
            <div class="input-group" style="margin: 5px;">
                <span class="input-group-text">确认密码</span>
                <input type="password" class="form-control" id="password_again">
            </div>
            <div class=" d-flex justify-content-center" style="margin-top: 15px;">
                <button class="btn btn-primary" type="button" id="aaa" onclick="save(this)" style="margin: 5px;">保存</button>
                <button class="btn btn-dark" style="margin: 5px;" type="button" onclick="javascript:window.location.href='/'">返回</button>
            </div>
        </header>
        <div class="card_list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">pic1</th>
                        <th scope="col">pic2</th>
                        <th scope="col">time</th>
                        <th scope="col">operation</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{ each cards }}
                    <tr>
                        <th scope="row">{{$index+1  }}</th>
                        <td>{{ if $value.isPic1 === 1 }} <img src="{{$value.pic1Url}}" alt="" srcset="" onclick="img_click(this)"> {{/if}}</td>
                        <td>{{ if $value.isPic2 === 1 }} <img src="{{$value.pic2Url}}" alt="" srcset="" onclick="img_click(this)"> {{/if}}</td>
                        <td>{{$value.date}}</td>
                        <td><button type="button" class="btn btn-success" onclick="save()">刷新</button>
                          <button type="button" class="btn btn-success" onclick="save()">删除</button></td>
                    </tr>
                    {{ /each }}
                </tbody>
            </table>
        </div>
        <footer class="footer">
            <p class="text-center text-muted">&copy; 2022 常平中学常跑社, Inc</p>
        </footer>
    </div>
    <div class="imgPreview visually-hidden d-flex justify-content-center align-items-center">
        <img src="" id="imgPreview">
    </div>
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/static/user.js"></script>
</body>

</html>